<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header"/>

<body>
<div class="container">
    <h5 class="center-block">Добре дошли в админ портал</h5>

    <hr/>

    <img th:src="@{/image/beelogo.png}" class="img-responsive" style="width: 250px;"/>

    <div class="row">
        <div class="col-sm-4 col-md-offset-4">
            <div class="bg-danger" th:if="${param.error}">
                Невалидно име или парола
            </div>

            <div class="bg-danger" th:if="${param.logout}">
                Излязохте
            </div>

            <form class="form-signin" th:action="@{/login}" method="post">
                <h2 class="form-signin-heading">Моля, Влезте</h2>
                <div class="form-group">
                    <label for="username" class="sr-only">Име</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Име"
                           required="required" data-th-autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <label for="password" class="sr-only">Парола</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Парола"
                           required="required" data-th-autofocus="autofocus"/>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Влез</button>


            </form>
        </div>
    </div>
</div>
<div th:replace="common/header :: body-bottom-scripts"></div>

</body>
</html>
