<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header" />


<body>

<div th:replace="common/header :: navbar"></div>

<div class="container">
    <div class="table-responsive">
        <table id="productListTable" class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th><input th:id="selectAllProducts" type="checkbox"/></th>
                <th>ProductName</th>
                <th>Category</th>
                <th>List Price</th>
                <th>Our Price</th>
                <th>Active?</th>
                <th>Operation</th>
            </tr>
            </thead>
            <tbody>
            <tr class="box" data-th-each="product : ${productList}">
                <td>
                    <input hidden="hidden" name="id" th:value="${product.id}" />
                    <input th:id="'selected'+${product.id}" class="checkboxProduct" type="checkbox"/>
                </td>
                <td><a th:href="@{/product/productInfo?id=}+${product.id}"><span th:text="${product.productName}"></span></a></td>
                <td data-th-text="${product.category}">...</td>
                <td data-th-text="${product.listPrice}">...</td>
                <td data-th-text="${product.ourPrice}">...</td>
                <td data-th-text="${product.active}">...</td>
                <td>
                    <input hidden="hidden" name="id" th:value="${product.id}" />
                    <button th:id="'oneProduct-'+${product.id}" class='btn btn-danger btn-sm delete-product' type="submit" value="delete"><span
                            class="fa fa-times"></span> delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-danger" id="deleteSelected">Delete Selected</button>
</div>


<div th:replace="common/header :: body-bottom-scripts"></div>

<script>$(document).ready( function () {
    $('#productListTable').DataTable();
} );</script>


</body>
</html>
