<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<style>.responsive {
width: 100%;
max-width: 375px;
height: auto;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: rgba(255, 122, 0, 0.80);
  border-color: rgba(255, 122, 0, 0.80);
}


.list-group-item:hover{
  cursor: pointer;
  background-color: rgba(255, 122, 0, 0.80) ;
  border-radius: 4px;
    color: #fff;

}



</style>
<body>
<div th:replace="common/header :: navbar"/>

<div class="container">
    <br/>

    <header th:insert="common/header :: header(~{ :: .breadcrumb})">
        <ol class="breadcrumb breadcrumb-arrow p-0">
            <li class="breadcrumb-item"><a th:href="@{/}">Начало</a></li>
            <li class="breadcrumb-item"><a th:href="@{/productshelf}">Пчелни продукти</a></li>
        </ol>
    </header>

    <br/>


    <div class="row">
        <div class="col-sm-3">
            <div class="col-sm-12" th:fragment="Category">
                <h3><label for="category">Категории продукти</label></h3>
                <hr class="rounded">

                <div class="list-group" id="category">
                    <a th:href="@{/productshelf(category='all')}" th:classappend="${activeAll}? 'active'"
                       class="list-group-item" style="">
                        Всички продукти <!--<span class="badge badge-primary badge-pill" >14</span>-->
                    </a>
                    <a th:href="@{/searchByCategory(category='Honey')}" th:classappend="${activeHoney}? 'active'"
                       class="list-group-item">
                        Пчелен мед
                    </a>
                    <a th:href="@{/searchByCategory(category='Propolis')}" th:classappend="${activePropolis}? 'active'"
                       class="list-group-item">Пчелен клей</a>
                    <a th:href="@{/searchByCategory(category='PropolisTincture')}"
                       th:classappend="${activePropolisTincture}? 'active'" class="list-group-item">Клеева тинктура</a>
                    <a th:href="@{/searchByCategory(category='Pollen')}"
                       th:classappend="${activePollen}? 'active'" class="list-group-item">Пчелен прашец</a>
                    <a th:href="@{/searchByCategory(category='ImunoStimulant')}"
                       th:classappend="${activeArtsLiterature}? 'active'" class="list-group-item">Пчелни
                        имуностимулатори</a>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div th:if="${emptyList}">
                    <h5 style="font-style: italic">Opps, no result is found.Try something else or try again
                        later.</h5>
                </div>


                <div class="col-lg-4 col-md-6 mb-4" data-th-each="product : ${productList}">
                    <form th:action="@{/shoppingCart/addItemIndex}" method="post">

                        <div class="card h-100 text-center card-light">


                            <a th:href="@{/productDetail?id=}+${product.id}"><img class="card-img-top"
                                                                                  th:src="#{adminPath}+@{/image/product/}+${product.id}+'.png'"
                                                                                  alt=""/></a>
                            <div class="card-body">
                                <h4 class="card-productName">
                                    <a th:href="@{/productDetail?id=}+${product.id}" style="color:black;"><h4
                                            th:text="${product.productName}"></h4></a>
                                </h4>
                                <h5><span
                                        th:text="${#numbers.formatDecimal(product.ourPrice, 0, 'COMMA', 2, 'POINT')}"></span>лв
                                </h5>
                            </div>
                            <div class="card-footer" style="border: none; background: white;">
                                <a th:href="@{/shoppingCart/cart}">

                                    <p>
                                        <button class="btn btn-outline-success" type="submit"><i
                                                class="fas fa-shopping-cart mr-3"></i>

                                            Добави в количка
                                        </button>
                                    </p>
                                </a>
                            </div>


                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br/>
        <br/>
    </div>
</div>
<div th:replace="common/header :: footer"/>


<div th:replace="common/header :: body-bottom-scripts"/>
<script>$(document).ready( function () {
    $('#productList').DataTable();
});





</script>

</body>
</html>
