<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<style>.responsive {
width: 100%;
max-width: 375px;
height: auto;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: rgba(255, 122, 0, 0.80);
  border-color: rgba(255, 122, 0, 0.80);
}


.list-group-item:hover{
  cursor: pointer;
  background-color: rgba(255, 122, 0, 0.80) ;
  border-radius: 4px;
    color: #fff;

}


</style>
<body>
<div th:replace="common/header :: navbar"/>

<div class="container">
    <br/>

    <header th:insert="common/header :: header(~{ :: .breadcrumb})">
        <ol class="breadcrumb breadcrumb-arrow p-0">
            <li class="breadcrumb-item"><a th:href="@{/}">Начало</a></li>
            <li class="breadcrumb-item"><a th:href="@{/productshelf}">Пчелни продукти</a></li>
        </ol>
    </header>

    <br/>


    <div class="row">
        <div class="col-sm-3">
            <div class="col-sm-12" th:fragment="Category">
                <h3><label for="category" >Категории продукти</label></h3>
                <hr class="rounded">

                <div class="list-group" id="category" >
                    <a th:href="@{/productshelf(category='all')}" th:classappend="${activeAll}? 'active'"
                       class="list-group-item" style="">
                        Всички продукти <!--<span class="badge badge-primary badge-pill" >14</span>-->
                    </a>
                    <a th:href="@{/searchByCategory(category='Honey')}" th:classappend="${activeHoney}? 'active'"
                       class="list-group-item">
                        Пчелен мед
                    </a>
                    <a th:href="@{/searchByCategory(category='Propolis')}" th:classappend="${activePropolis}? 'active'"
                       class="list-group-item">Пчелен клей</a>
                    <a th:href="@{/searchByCategory(category='PropolisTincture')}"
                       th:classappend="${activePropolisTincture}? 'active'" class="list-group-item">Клеева тинктура</a>
                    <a th:href="@{/searchByCategory(category='Pollen')}"
                       th:classappend="${activePollen}? 'active'" class="list-group-item">Пчелен прашец</a>
                    <a th:href="@{/searchByCategory(category='ImunoStimulant')}"
                       th:classappend="${activeArtsLiterature}? 'active'" class="list-group-item">Пчелни
                        имуностимулатори</a>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div th:if="${emptyList}">
                    <h5 style="font-style: italic">Опа, няма намерени резултати. Пробвайте друга категория или по-късно...</h5>
                </div>
                <div th:replace="index :: productList"/>
            </div>
        </div>
    </div>
    <br/>
    <br/>
</div>

<div th:replace="common/header :: footer"/>


<div th:replace="common/header :: body-bottom-scripts"/>
<script>$(document).ready( function () {
    $('#productList').DataTable();
});




</script>

</body>
</html>
