<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>AbraHoney</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/navbars/">

    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    <script src="https://cdn.tiny.cloud/1/3epp5di5a6agoibb5z61lb3xizpw6i8bu46dk9ndu755ad61/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script>tinymce.init({selector:'textarea'});</script>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/image/bee_icon.jpg}" rel="icon">
    <style>
        .responsive {
        width: 100%;
        max-width: 375px;
        height: auto;
        }

    </style>
</head>

<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Администраторски профил</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Продукт
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/product/add}">Добави нов продукт</a>
                            <a class="dropdown-item" th:href="@{/product/productList}">Списък с добавени продукти</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    <li><a th:href="@{/logout}">Излез</a></li>
                </ul>
            </div>
        </div>
    </nav>

</div>


<div th:fragment="body-bottom-scripts">

<!--    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>-->
    <script th:src="@{js/bootstrap.min.js}"></script>

    <script th:src="@{/js/jquery.min.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <!--bootbox-->
    <script th:src="@{/js/bootbox.min.js}"></script>

    <!--    &lt;!&ndash;data table&ndash;&gt;-->
    <!--    <script th:src="@{/js/jquery.dataTables.min.js}"></script>-->
    <!--    <script th:src="@{/js/dataTables.bootstrap.min.js}"></script>-->

    <!--    main js-->
    <script th:src="@{/js/scripts.js}"></script>
</div>

</body>
</html>