<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header"/>

<body>

<div th:replace="common/header :: navbar"></div>

<!-- Main component for a primary marketing message or call to action -->
<div class="container">

    <br/>

    <header th:insert="common/header :: header(~{ :: .breadcrumb})">
        <ol class="breadcrumb breadcrumb-arrow p-0">
            <li class="breadcrumb-item"><a th:href="@{/}">Начало</a></li>
            <li class="breadcrumb-item"><a th:href="@{/productList}">Пчелни продукти</a></li>
            <li class="breadcrumb-item"><a th:href="@{/productList}">Количка</a></li>
        </ol>
    </header>

    <br/>


    <br/>
    <br/>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <div class="row justify-content-between">
                <div class="col-sm-6 text-left">
                    <a class="btn btn-warning" th:href="@{/productList}">Продължи да пазаруваш</a>
                </div>
                <div class="col-sm-6 text-right">
                    <a class="btn btn-warning" style="" th:href="@{/checkout(id=${shoppingCart.id})}">Поръчване</a>
                </div>
            </div>
            <br/>
            <div th:if="${notEnoughStock}" class="alert alert-warning">
                Някои от продуктите нямат достатъчно налично количество!
            </div>
            <div th:if="${emptyCart}" class="alert alert-warning">
                Количката Ви е празна!
            </div>
            <br/> <br/> <br/>
            <div class="row">
                <div class="col-sm-8"><h4>Продукти</h4></div>
                <div class="col-sm-2"><h4>Цена</h4></div>
                <div class="col-sm-2"><h4>Кол.</h4></div>
            </div>
            <!--Display products-->
            <form th:action="@{/shoppingCart/updateCartItem}" method="post">
                <div class="row" th:each="cartItem : ${cartItemList}">

                    <div class="col-sm-2">
                        <a th:href="@{productDetail(id=${cartItem.product.id})}">
                            <img class="responsive"
                                 th:src="#{adminPath} + @{/image/product/} + ${cartItem.product.id}+'.png'"/>
                        </a>
                        <br/>
                        <br/>
                    </div>

                    <div class="col-sm-6">
                        <a th:href="@{/productDetail?id=}+${cartItem.product.id}"><h4
                                th:text="${cartItem.product.productName}">
                            ...</h4></a>
                        <p th:if="${cartItem.product.inStockNumber&gt;10}" style="color:green;">В наличност</p>
                        <p th:if="${cartItem.product.inStockNumber&lt;10 and cartItem.product.inStockNumber&gt;0}"
                           style="color:green;">Само <span th:text="${cartItem.product.inStockNumber}"></span> броя
                            остават
                        </p>
                        <p th:if="${cartItem.product.inStockNumber==0}" style="color:red;">Продуктът не е наличен</p>
                        <a th:href="@{/shoppingCart/removeItem?id=}+${cartItem.id}">Изтрий</a>

                    </div>

                    <div class="col-sm-2">
                        <h5 style="color:#db3208;font-size:large;"><span th:text="${cartItem.product.ourPrice}"
                                                                          th:style="${cartItem.product.inStockNumber}==0? 'text-decoration: line-trough' : ''"></span>лв.
                        </h5>
                    </div>
                    <div class="col-sm-2">
                        <input hidden="hidden" name="id" th:value="${cartItem.id}"/>
                        <input th:id="${cartItem.id}" th:name="qty" th:value="${cartItem.qty}"

                               th:disabled="${cartItem.product.inStockNumber==0}" class="form-control cartItemQty"/>

                        <button th:id="'update-item-'+${cartItem.id}" type="submit"
                                class="btn btn-warning btn-cs">Промени
                        </button>


                    </div>
                    <hr/>

                </div>

            </form>


            <hr/>
            <div class="row">
                <hr/>
                <h4 class="col-sm-12 text-right"><strong style="font-size:large;">Сума (<span
                        th:text="${#lists.size(cartItemList)}"></span> продукта):</strong><span
                        style="color:#db3208; font size:large;"></span><span
                        th:text="${shoppingCart.grandTotal}"></span>лв.</h4>
            </div>
            <br/>
            <br/>
            <br/>
        </div>
    </div>


</div>   <!--end of conatainer-->

<div th:replace="common/header :: footer"/>

<div th:replace="common/header :: body-bottom-scripts"></div>

</body>
</html>
